@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

/* header */

.nav-top{
    border-bottom: 1px solid rgb(209, 209, 209);
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.nav-top-main{
    background: #e5e5e5;
}

.nav-top-inner{
    flex: 1;
    order: 1;
}

.nav-top-inner ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding-left: 25px;
    display: inline-flex;
}

.nav-top-inner ul li{
    margin:3px 10px;
    margin-bottom: 7px;
}

.nav-top-inner ul li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.nav-top-inner ul li a:hover{
    color: grey;
}

.nav-top-inner ul li a i{
    margin-right: 10px;
}

/* ! */

.nav-center-main{
    display: flex;
    margin-top: 10px;
    margin-bottom: 25px;
}

.nav-center-main-left{
    margin-top: 15px;
    margin-left: 40px;
    order: 1;
}

.nav-center-main-left label{
    border: 1px solid rgb(117, 117, 117);
    padding: 10px 20px;
    padding-right: 15px;
    padding-top: 8px;
    border-radius: 50px;
}

.nav-center-main-left label input{
    border:none;
    width: 180px;
    outline: none;
    font-weight: 300;
}

.nav-center-main-left label button{
    border: none;
    background: none;
    font-size: 17px;
    outline: none;
    margin-left: 15px;
}

.nav-center-main-right{
    margin-left: 270px;
    margin-top: 10px;
    order: 2;
}

.nav-center-main-right img{
    width: 110px;
}

/* ! */

.nav-lower-main{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-lower-main a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    position: relative;
}

.nav-lower-main a:hover::before{
    width: 100%;
    transition: .3s;
}

.nav-lower-main a::before{
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: -16px;
    left: 0;
    background: black;
}

/* main */

.swiper-container {
    width: 95%;
    height: 85vh;
    margin-bottom: 30px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.title{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
}

.title a{
    text-decoration: none;
    color: black;
    padding: 15px 40px; 
    border: 1px solid black;
    border-radius: 50px;
    font-size: 13px;
}

.title a:hover{
    font-weight: 600;
}

/* main_block2 */

.main_block2{
    background: #fafafa;
    padding: 10px 0;
    padding-bottom: 20px;
}

.main_block2_title{
    width: 15%;
    text-align: center;
    margin: 0 auto;
}

.main_block2_title hr{
    border-top: 1px solid black;
    width: 60%;
}

.main_block2_title p{
    font-size: 13px;
    font-weight: 600;
}

.main_block2_title h1{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.main_block2_inner{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.main_block2_inner div{
    width: 30%;
    cursor: pointer;
    text-align: center;
}

.main_block2_inner div img{
    width: 100%;
    margin-bottom: 40px;
}

.main_block2_inner div .para1{
    margin: 0px;
    font-size: 14px;
    color: grey;
}

.main_block2_inner div b{
    font-size: 14px;
}

.main_block2_inner div .para2{
    font-size: 15px;
    margin-bottom: 50px;
}

.main_block2_inner div .link{
    text-decoration: none;
    color: black;
    padding: 7px 20px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 15px;
}

.main_block2_inner div .link:hover{
    font-weight: 600;
}

/* title2 */

.title2{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50%;
    text-align: center;
}

.title2 b{
    font-size: 35px;
}

.title2 p{
    margin: 0px;
    font-size: 15px;
}

.banner{
    height: 70vh;
    overflow: hidden;
}

.banner img{
    width: 100%;
    height: 100%;

    animation: image 8s ease infinite;
}

.cursor{
    cursor: pointer;
    width: 95%;
    margin: 0 auto;
}

@keyframes image{
    0%{

    }
    100%{
        transform:scale(1.3,1.3);
    }
}

.banner_info{
    margin-top: 10px;
}

.info1{
    font-size: 30px;
    width: 370px;
    margin: 0px;
}

.info2{
    font-size: 13px;
    margin: 0px;
    margin-top: 5px;
}

/* block3 */

.main_block3{
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.block3_inner{
    width: 23%;
    height: 400px;
}

.block3_inner p{
    font-size: 23px;
    margin: 0px;
    margin-top: 10px;
}

.block3_inner p a{
    text-decoration: none;
    color: black;
}

.block3_inside1{
    width: 100%;
    height: 75%;
    background: url('../img/image2.jpg') center / cover no-repeat;
    cursor: pointer;
}

.block3_inside1:hover{
    box-shadow: 1px 1px 10px rgb(163, 163, 163);
}

.block3_inside2{
    width: 100%;
    height: 75%;
    background: url('../img/gol1.webp') center / cover no-repeat;
    cursor: pointer;
}

.block3_inside2:hover{
    box-shadow: 1px 1px 10px rgb(163, 163, 163);
}

.block3_inside3{
    width: 100%;
    height: 75%;
    background: url('../img/gol2.png') center / cover no-repeat;
    cursor: pointer;
}

.block3_inside3:hover{
    box-shadow: 1px 1px 10px rgb(163, 163, 163);
}

.block3_inside4{
    width: 100%;
    height: 75%;
    background: url('../img/gol3.png') center / cover no-repeat;
    cursor: pointer;
}

.block3_inside4:hover{
    box-shadow: 1px 1px 10px rgb(163, 163, 163);
}

.hur{
    width: 95%;
    background: rgb(199, 199, 199);
    height: 1px;
    margin: 30px auto;
}

.block3_banner1{
    width: 100%;
    height: 75%;
    background: url('../img/loop1.webp') center / cover no-repeat;
    cursor: pointer;
}

.block3_banner2{
    width: 100%;
    height: 75%;
    background: url('../img/loop2.webp') center / cover no-repeat;
    cursor: pointer;
}

.block3_banner3{
    width: 100%;
    height: 75%;
    background: url('../img/loop3.jpg') center / cover no-repeat;
    cursor: pointer;
}

.block3_banner4{
    width: 100%;
    height: 75%;
    background: url('../img/loop4.jpg') center / cover no-repeat;
    cursor: pointer;
}

.block3_picture1{
    width: 100%;
    height: 75%;
    background: url('../img/cloth1.webp') center / cover no-repeat;
    cursor: pointer;
}

.block3_picture2{
    width: 100%;
    height: 75%;
    background: url('../img/cloth2.webp') center / cover no-repeat;
    cursor: pointer;
}

.block3_picture3{
    width: 100%;
    height: 75%;
    background: url('../img/cloth3.webp') center / cover no-repeat;
    cursor: pointer;
}

.block3_picture4{
    width: 100%;
    height: 75%;
    background: url('../img/cloth4.webp') center / cover no-repeat;
    cursor: pointer;
}

/* map */

.map{
    width: 100%;
    height: 40vh;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../img/map.gif') center / cover;
}

.map p{
    font-size: 30px;
    margin-bottom: 15px;
}

.map label{
    border: 1px solid black;
}

.map label input{
    border: none;
    outline: none;
    background: none;
    padding: 15px 20px;
}

.map label button{
    background: black;
    border: none;
    color: white;
    font-size: 20px;
    padding-top: 9px;
    padding-bottom: 14px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
}

/* footer */

.footer_main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 20px;
}

.footer_main div{
    text-align: center;
    padding-bottom: 20px;
}

.footer_inner1{
    flex: 1;
    order: 1;
    padding-top: 30px;
}

.footer_inner2{
    flex: 1;
    order: 2;
}

.footer_inner3{
    flex: 1;
    order: 3;
}

.footer_para1{
    font-size: 13px;
    font-weight: 500;
}

.footer_para2{
    color: grey;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 20px;
}

.footer_inner1 label{
    border: 1px solid black;
    overflow: hidden;
    padding: 10px 0px;
}

.footer_inner1 label input{
    border: none;
    outline: none;
    background: none;
    padding:0px 15px;
}

.footer_inner1 label button{
    background: rgb(179, 179, 179);
    border: none;
    color: white;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 22px;
    padding-left: 20px;
    cursor: pointer;
    outline: none;
}

.footer_inner2 p a{ 
    color: black;
    font-size: 14px;
}

.footer_inner2 p a:hover{
    font-weight: 600;
}

.footer_inner3 p{
    font-size: 13px;
    font-weight: 500;
    margin-top: 0px;
}

.footer_inner3 a{
    text-decoration: none;
    color: grey;
    border: 1px solid grey;
    border-radius: 50px;
    margin: 0px 7px;
}

.footer_inner3 a i{
    transition: 1s;
}

.footer_inner3 a:hover{
    border: 1px solid black;
}

.footer_inner3 a:hover i{
    transition: 1s;
    transform: rotate(360deg);
}

.footer_inner3 hr{
    width: 65%;
    margin-top: 30px;
    margin-bottom:40px;
}

.footer3_link{
    padding: 10px 14px; 
}

.footer3_link2{
    padding: 10px 11px; 
}

.footer3_para1{
    margin-bottom: 30px;
}

.footer3_para2{
    margin-bottom: 15px;
}

.footer_inner3 button{
    background: none;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    padding: 13px 30px;
    font-weight: 300;
}

.footer_inner3 button i{
    margin-left: 40px;
    transition: .5s;
}

.footer_inner3 button:hover i{
    transform: rotate(180deg);
    transition: .5s;
}

/* fixed */

.fixed{
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 1000;
}

.fixed a{
    color: black;
    background: white;
    border: 1px solid rgb(112, 112, 112);
    padding: 10px 13px;
    border-radius: 50px;
    font-size: 20px;
}

/* Adaptaion */

@media screen and (max-width:1224px){

    .nav-center-main-right{
        margin-left: 240px;
        margin-top: 10px;
    }
}

@media screen and (max-width:1146px){

    .nav-center-main-right{
        margin-left: 200px;
        margin-top: 10px;
    }
}

@media screen and (max-width:1050px){

    .title2{
        width: 80%;
    }

    .main_block2_title{
        width: 20%;
    }
}

@media screen and (max-width:1000px){

    .nav-center-main-right{
        margin-left: 160px;
    }

    .block3_inner p{
        font-size: 20px;
    }

    .hidden1{
        display: none;
    }
}

@media screen and (max-width:950px){

    .nav-center-main-right{
        margin-left: 120px;
    }

    .block3_inner{
        width: 48%;
        height: 400px;
    }

    .main_block3{
        width: 95%;
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        z-index: 10;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:920px){

    .nav-center-main{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .nav-center-main-right{
        margin-left:0px;
        margin-right: 40px;
    }

    .footer_main{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .footer_inner1 label button{
        padding-bottom: 9px;
    }
}

@media screen and (max-width:900px){

    .hidden2{
        display: none;
    }

    .nav-top{
        margin-bottom: 0px;
    }
}

@media screen and (max-width:826px){

    .hidden3{
        display: none;
    }

    .main_block2_title{
        width: 30%;
    }

    .main_block2_inner{
        width: 80%;
        margin: 0 auto;
        padding-bottom: 10px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main_block2_inner div{
        width: 45%;
        cursor: pointer;
        text-align: center;
    }

    .main_block2_inner div img{
        width: 100%;
        margin-bottom: 40px;
    }

    .block2_item3{
        width: 60% !important;
        margin: 0 auto;
        margin-top: 50px;
    }

    .swiper-container{
        width: 95%;
        height: 100%;
        margin-bottom: 30px;
        margin-top: 20px;
    }
}

@media screen and (max-width:700px){

    .block3_inner p{
        font-size: 18px;
    }

    .block3_inner{
        width: 48%;
        height: 300px;
    }

    .hidden4{
        display: none;
    }

    .banner{
        height: 60vh;
        overflow: hidden;
    }
}

@media screen and (max-width:600px){

    .main_block2_title{
        width: 40%;
        text-align: center;
        margin: 0 auto;
    }

    .hidden5{
        display: none;
    }

    .title2{
        width: 80%;
    }

    .banner{
        height: 50vh;
        overflow: hidden;
    }

    .swiper-container{
        width: 95%;
        height: 100%;
        margin-bottom: 30px;
        margin-top: 20px;
    }
}

@media screen and (max-width:520px){

    .hidden6{
        display: none;
    }

    .main_block2_inner div{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .main_block2_title{
        width: 50%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .block2_item3{
        width: 70% !important;
        margin: 0 auto;
    }

    .block3_inner p{
        font-size: 15px;
    }
}

@media screen and (max-width:500px){

    .nav-center-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .nav-center-main-left{
        order: 2;
        width: 80%;
        margin: 20px auto;
    }

    .nav-center-main-right{
        order: 1;
        width: 25%;
        margin: 15px auto;
    }

    .nav-center-main-left label input{
        width: 300px;
    }
}

@media screen and (max-width:490px){

    .nav-center-main-left label input{
        width: 280px;
    }
}

@media screen and (max-width:466px){

    .nav-center-main-left label input{
        width: 260px;
    }

    .hide1{
        display: none;
    }
}

@media screen and (max-width:438px){

    .nav-center-main-left label input{
        width: 240px;
    }

    .info1{
        font-size: 25px;
        width: 320px;
        margin: 0px;
    }

    .block3_inner{
        width: 90%;
        height: 270px;
        margin-bottom: 30px;
    }

    .main_block3{
        justify-content: center;
    }

    .block3_inner p{
        font-size: 20px;
    }
}

@media screen and (max-width:412px){

    .banner{
        height: 45vh;
        overflow: hidden;
    }

    .nav-center-main-left label input{
        width: 220px;
    }
}

@media screen and (max-width:390px){

    .nav-center-main-left label input{
        width: 200px;
    }

    .map label input{
        padding: 0px 10px;
    }

    .map p{
        font-size: 20px;
    }

    .map label button{
        background: black;
        border: none;
        color: white;
        font-size: 20px;
        padding-top: 9px;
        padding-bottom: 14px;
        padding-right: 10px;
        padding-left: 15px;
        margin-left: 10px;
        cursor: pointer;
        outline: none;
    }

    .hidden7{
        display: none;
    }
}

@media screen and (max-width:362px){

    .main_block2_inner div{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .info1{
        font-size: 20px;
        width: 250px;
        margin: 0px;
    }

    .nav-center-main-left label input{
        width: 180px;
    }

    .nav-top-inner ul{
        padding-left: 5px;
    }
}

@media screen and (max-width:350px){

    .footer_inner1 label button{
        padding-top: 7px;
        padding-bottom: 9px;
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media screen and (max-width:340px){

    .nav-center-main-left label input{
        width: 160px;
    }

    .main_block2_title{
        width: 60%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .hide2{
        display: none;
    }

    .nav-top-inner ul li{
        margin:3px 10px;
        margin-bottom: 7px;
        margin-left: 70px;
    }
}